.Box {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 10px -5px rgb(194,201,201, 0.4)
}

.Box__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Box__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  background-color: #c2c9c9;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.Box.is-enabled .Box__checkbox {
  background-color: #00e29b;
}

.Box__title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #c2c9c9;
}

.Box.is-enabled .Box__title {
  color: #003ec8;
}

.Box__description {
  color: #c2c9c9;
  line-height: 1.25;
}
