.InputPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputPrice__input {
  border: none;
  box-sizing: border-box;
  padding: 5px;
  width: calc(100% - 120px);
  border-radius: 5px;
  color: #003ec8;
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
  outline: none;
}

.InputPrice__input::placeholder {
  color: #c2c9c9;
}

.InputPrice__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #c2c9c9;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.InputPrice.is-ready .InputPrice__button {
  background-color: #00e29b;
}

.InputPrice__label {
  font-size: 1.3rem;
  font-weight: 700;
  color: #c2c9c9;
}
