.Card {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.Card_white {
  background-color: #fff;
  box-shadow: 0 10px 10px -5px rgb(194,201,201, 0.4)
}

.Card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Card__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  background-color: #c2c9c9;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.Card.is-enabled .Card__checkbox {
  background-color: #00e29b;
}

.Card__title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #c2c9c9;
  cursor: pointer;
}

.Card.is-enabled .Card__title {
  color: #003ec8;
}

.Card__description {
  color: #c2c9c9;
  line-height: 1.25;
}
